@font-face {
  font-family: 'myriad_pro';
  src: font-url('fonts/myriad_pro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'myriad_pro';
  display: inline-block;
  text-align: left;
  width: 100%;
}

section#about_me,
section#link {
  display: table;
  width: 100%;
  min-height: 700px;
}

section#about_me .container,
section#link .container {
  display: table-cell;
  vertical-align: middle;
}

#navbar ul li {
  border-right: 3px solid rgb(245, 223, 75);
  position: relative;
  top: 25px;
}

.nav > li.active > a {
  background-color: transparent !important;
  color: black !important;
  font-weight: 600;
}

.nav > li > a {
  text-align: center;
  min-width: 105px;
  padding-top: 2px !important;
  height: 55px !important;
}

.nav > li:last-of-type > a {
  min-width: 60px;
  text-align: center;
}


#mail-ave-vox a {
  color: rgb(58, 58, 60);
}

#mail-ave-vox {
  display: table;
  background-color: rgb(255, 200, 31);
  padding: 15px;
  margin: 15px auto;
  font-size: 16px;
  min-width: 190px;
  text-align: center;
}

#address-ave-vox {
  color: rgb(255, 200, 31);
  width: 190px;
  display: table;
  margin: 0 auto;
}

#address-ave-vox img {
  display: inline-block;
  float: left;
  margin-right: 10px;
  height: 50px;
}

#address-ave-vox div {
  display: inline-block;
}
#address-ave-vox span {
  line-height: 50px;
  vertical-align: bottom;
}

li#languages {
  border: none !important;
  position: absolute !important;
  right: 5px !important;
  top: 5px !important;
}

li#languages a {
  height: 20px !important;
  padding: 4px;
}

.main-description div h2 {
  color: black;
}

section#project ul {
  padding-left: 14px;
  list-style: none;
  color: white;
}
section#project ul li {
  line-height: 21px;
}

section#project ul li:before {
    color: rgb(245, 223, 75);
    content: "•";
    position: relative;
    left: -7px;
    margin-left: -7px;
}

@media(max-width: 767px) {
  #navbar ul li {
    border-right: none;
    position: relative;
    top: 0;
  }
  .nav > li.active > a {
    background-color: white !important;
    color: black !important;
  }

  .nav > li > a {
    text-align: center;
    min-width: 105px;
    padding-top: 2px !important;
    height: auto !important;
  }

  section#about_me,
  section#link {
    min-height: 300px;
  }
}